<h1>Total Car In Stock : {{stockLength}}</h1>
<label for="data">Brand:</label>
  <select id="data" multiple (change)="brandChange($event)">
    <option [ngValue]="brandKey" *ngFor="let brandData of data; let i = index" [value]="data[i].brand_key" [id]="data[i].brand_key">
      {{data[i].brand_key}}
    </option>
  </select>
  <div>
    <label for="data">Segment:</label>
    <select id="data" multiple (change)="segmentChange($event)">
      <option *ngFor="let brandData of data; let i = index" [value]="data[i].segment_key" [id]="data[i].segment_key">
        {{data[i].segment_key}}
      </option>  
    </select>
  </div>
  <div>
  <label for="data">Year:</label>
  <select id="data" multiple (change)="yearChange($event)">
    <option *ngFor="let brandData of data; let i = index" [value]="data[i].year" [id]="data[i].year">
      {{data[i].year}}
    </option>
  </select>
  </div>
  <div>
  <label for="data">Engine:</label>
  <select id="data" multiple (change)="engineChange($event)">
    <option *ngFor="let brandData of data; let i = index" [value]="data[i].engine_type_key" [id]="data[i].engine_type_key">
      {{data[i].engine_type_key}}
    </option>
  </select>
  </div>